.header {
    background: linear-gradient(180deg, #660066,  #9900CB, #660066);
    margin-top: 0;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
}

.header__title {
    margin: 0;
    padding: .67rem 0;
}

.header__link {
  color: white;
  text-decoration: none;
}

@media print {
  .header {
    display: none;
  }
}
