.character_sheet__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 10in;
  width: 7.5in;
  margin: 0 auto;
}

.character_sheet__background_text {
  color: lightgrey;
}

.character_sheet__hidden_text {
  color: white;
}

.character_sheet__header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.character_sheet__header__section {
  min-width: 10rem;
  display: flex;
  justify-content: space-around;
}

.character_sheet__header__section h3,
.character_sheet__header__section h4 {
    margin-bottom: .25rem;
  }


.character_sheet__header__label {
  margin-right: 1rem;
}

.character_sheet__body {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
}

.character_sheet__body__attributes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.character_sheet__attribute_box__container {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 1rem;
}

.character_sheet__attribute_box__title {
  border-bottom: 1px solid;
  width: 100%;
  display: flex;
  justify-content: center;
}
.character_sheet__attribute_box__title > h5 {
  align-self: center;
  margin: .25rem;
}

.character_sheet__attribute_box__stat {
  width: 100%;
  display: flex;
  justify-content: center;
}

.character_sheet__attribute_box__stat > h4 {
 align-self: center;
 margin: .5rem 0;
}

.character_sheet__body__content {
  display: flex;
  justify-content: space-between;
}

.character_sheet__body__group {
  display: flex;
  justify-content: space-between;
  width: 27%;
}

.character_sheet__body__group_attributes {
  width: 1.1in;
}

.character_sheet__body__group_wrap {
  flex-wrap: wrap;
}

.character_sheet__body__group__item {
  display: flex;
  border: 1px solid;
  flex-direction: column;
  margin-top: 1rem;
  padding: .25rem 1rem;
  width: 100%;
}

.character_sheet__body__resource_name {
  text-align: center;
}

.character_sheet__body__resource_name_additional {
  margin: .8rem 0;
}

.character_sheet__body__resource_name_secondary {
  margin: .5rem 0;
  text-align: center;
}

.character_sheet__body__group__item__stat {
  margin: .2rem;
}

.character_sheet__body__group__item__stat > h4 {
  border: 1px solid;
  padding: 1rem;
  margin: .5rem 0;
  text-align: center;
}

.character_sheet__body__group__item__stat__tracker{
  display: flex;
  justify-content: space-around;
}

.character_sheet__body__group__item__levels > .character_sheet__body__group__item__levels__level {
  display: flex;
  justify-content: space-between;
  margin: .2rem 0;
}

.character_sheet__body__group__item__levels > .character_sheet__body__group__item__levels__level > h5, h6 {
  align-self: center;
}

.character_sheet__body__group__item__levels__level__boxed__stat {
  -webkit-appearance:none;
  width:44px;
  height:24px;
  background:white;
  border-radius:2px;
  border:2px solid #555;
  margin-left: .5rem;
  padding: 1px 2px;
  text-align: center;
}

.character_sheet__body__group__item__levels input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
    margin: 0;
}

.character_sheet__body__group__item__levels input[type='text'] {
    -webkit-appearance:none;
    width:44px;
    height:24px;
    background:white;
    border-radius:2px;
    border:2px solid #555;
    margin-left: .5rem;
}

.character_sheet__body__primary_skill {

}

.character_sheet__body__secondary_skill {

}

.character_sheet__notes {
  flex-grow: 1;
  border: 1px solid;
  border-top: 0;
}

.paper {
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 23px;
  -moz-background-size: 100% 23px;
  -ms-background-size: 100% 23px;
  -o-background-size: 100% 23px;
  background-size: 100% 23px;

  height: 100%;
}
